{% extends './layout.html' %} {% load static %} {% block title%}About Us - 1.2.3 Sold{% endblock %}{% block css_file %}
<link rel="stylesheet" href="{% static 'home/css/about.css'%}" type="text/css">

{% endblock %} {% block body %} {% load i18n %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
{% include "./includes/navbar.html" %}
<br>
{% include "./arrow_button.html" %}
<button onclick="goBack()" class="btn btn-light"><i class="fa-solid fa-arrow-left"></i></button>
<button onclick="goForward()" class="btn btn-light"><i class="fa-solid fa-arrow-right"></i></button>
<div class="container-fluid">
    <h1 class="text-center open-sans-about">ABOUT US</h1>
    <div class="container-fluid"
        style="background-image: url({% static 'images/intro.jpg' %});height:24.5rem;background-repeat:no-repeat;background-size:cover;">
        </div>
        <div class="container">
        <h1 class="open-sans-heading" style="position: relative;top: 75%;text-align: center;">THE EPITOME OF CREATIVITY</h1>
        <hr class="bold-line">
        <p class="poppins-regular-text">
            1,2,3...SOLD!! is for Art Collecting and Bidding.
            As the leading marketplace for Art by the world’s emerging and established Artists, we have made it easy for
            new and experienced collectors to discover, buy, and sell art. Everything you will need to collect art,
            you’ll find on here.
        </p>
        <hr class="bold-line">
        <h1 class="text-center open-sans-heading">About Our Arts</h1>
        <div class="row art_desc">
            <div class="col-md-4">
                <img src="{% static 'images/Watercolor_Painting.jpg' %}" alt="about1" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Nature art is a creative way of using elements of nature to create a new art object. 
                    Artists can use nature as inspiration by interacting with it through their senses and incorporating their observations into their work. 
                    Nature art can be abstract or realistic, and can be created in any medium. Nature art can be used to display the beauty of nature, make scientific observations, or explore philosophical ideas about our connection to nature.
                </p>
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">

            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Sculpture is the branch of the visual arts that operates in three dimensions. 
                    Sculpture is the three-dimensional art work which is physically presented in the dimensions of height, width and depth. 
                    Durable sculptural processes originally used carving (the removal of material) and modelling (the addition of material, as clay), in stone, metal, ceramics, wood and other materials but, since Modernism, there has been almost complete freedom of materials and process. 
                    Sculpture has been central in religious devotion in many cultures. Sculpture in stone survives far better than works of art in perishable materials, and often represents the majority of the surviving works (other than pottery) from ancient cultures, though conversely traditions of sculpture in wood may have vanished almost entirely. 
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/BUDDHA.png' %}" alt="about2" width="100%" height="200px">
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">
            <div class="col-md-4">
                <img src="{% static 'images/about6.jpg' %}" alt="about3" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Doodle art is a type of drawing, sketching, or scribbling that can Be spontaneous and unstructured, and often without a final goal in mind. 
                    Doodles can be simple shapes like stars, ovals, spirals, and diamonds, or more complex figures like faces, animals, or human figures. 
                    They can also be abstract patterns or random lines, and are often created without lifting the drawing tool from the paper. 
                    Doodle art is considered a type of process art, which means that the act of doodling is more important than the finished product.
                </p>
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">

            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Resin art is a type of arts and crafts that uses resin as a primary material. 
                    Resin is a semi-solid, natural or synthetic compound that can be hardened into a durable plastic. 
                    Resin art can be made with epoxy resin, which is a synthetically produced resin that mimics the properties of natural resin. 
                    Epoxy resin is a two-part system that consists of a synthetic polymer resin and a hardener. 
                    When these two components are combined, they undergo a chemical reaction that hardens the mixture into a solid. 
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/resin.png' %}" alt="about4" width="100%" height="200px">
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">
            <div class="col-md-4">
                <img src="{% static 'images/about1.jpg' %}" alt="about5" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Fantasy art is a genre of art that depicts magical or other supernatural themes, ideas, creatures or settings. 
                    Fantasy art often transports viewers into realms of imagination, where mythical beasts roam and enchanted landscapes unfold. 
                    It serves as a portal to fantastical worlds, evoking a sense of wonder and enchantment in those who behold it.
                </p>
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">

            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Floral art, also known as floral design or floristry, is the art of creating attractive and balanced arrangements using flowers and other plant materials. 
                    Floral art can be considered both a decorative craft and a creative art form. To be considered floral art, designs should be highly creative, original, and emotionally connect the designer and the viewer.
                    Refined floristry can be traced all the way back to ancient Egypt's culture. This art of floral design is very important in our society.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/True_Beauty.png' %}" alt="about6" width="100%" height="200px">
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">
            <div class="col-md-4">
                <img src="{% static 'images/Fall_in_LOVE_with_MATHS.png' %}" alt="about7" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Abstract art is art that does not attempt to represent an accurate depiction of a visual reality but instead uses shapes, colours, forms and gestural marks to achieve its effect. 
                    It is a non-objective art form that breaks traditional, realistic art styles. It intends to inspire emotion and intangible experience, rather than telling a story or portraying realistic subjects. 
                    While it exists today in many forms, both two and three-dimensionally, abstract art disrupted the art world when it abandoned realistic representation of subject matter.
                </p>
            </div>
        </div>
        <hr class="bold-line">
        <div class="row art_desc">

            <div class="col-md-8">
                <p class="poppins-regular-text">
                    Portrait artworks can be anything from a sculpture to a painting or photography that specifically
                    contains a Face. Portraiture is a very old art form going back at least to ancient Egypt, where it
                    flourished from about 5,000 years. Before the invention of photography, a painted, sculpted, or
                    drawn portrait was the only way to record the appearance of someone.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/about5.jpg' %}" alt="about6" width="100%" height="200px">
            </div>
        </div>
        <hr class="bold-line">
        <br>
        <div class="container-fluid"
            style="background-image: url({% static 'images/exp.jpg' %});height:300px;background-repeat:no-repeat;background-size:cover;">
            </div>
        <h1 class="open-sans-about" style="position: relative;top: 75%;text-align: center;">GET TO EXPERIENCE IN 3D WITH AR TECHNOLOGY</h1>
        <hr class="bold-line">
        <div class="pt3">
            <h4 class="heading-4 open-sans-heading">What is AR technology?</h4>
            <p class="poppins-regular-text">
                Augmented reality (AR) is the real-time use of information in the form of text, graphics, audio and
                other virtual enhancements integrated with real-world objects. It is the integration of digital
                information with the user's environment in real time.
            </p>    
        </div>
        <hr class="bold-line">
        <div class="pt3">
            <h4 class="heading-4 open-sans-heading">Experience in AR:</h4>
            <p class="poppins-regular-text">
                1,2,3...SOLD!! give viewers the chance to interact with a 3D view via augmented reality. You can examine
                a 3D model of the artwork's appearance in that location by uploading a photo of the space where you plan
                to display it. Users can see the artwork in the actual world due to this. It is a modern technology that
                is widely used.
            </p>
        </div>
        <button onclick="topFunction()" id="back-to-top-btn" title="Go to top"><i class="fa-solid fa-angles-up"></i>
    </button>
    </div>
</div>
<script>
    // Get the button
    var mybutton = document.getElementById("back-to-top-btn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
{% endblock %}