{% extends './layout.html' %}
{% load static %}
{% block title%}1.2.3 Sold About us{% endblock %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'home/css/about.css'%}" type="text/css">
{% endblock %}
{% block body %}
{% load i18n %}
<div class="text-center" style="margin-top:20%">
    <!-- {% if status == "Success" %}
    <h2>THANKS YOUR PAYMENT HAS BEEN RECEIVED</h2>
    {% else %}
    <h2>SORRY, YOUR PAYMENT HAS BEEN FAILED {{order}} {{providor}}</h2>
    {% endif %} -->
    <h2 class="text-success">THANKS YOUR PAYMENT HAS BEEN RECEIVED</h2>
    <a href="http://127.0.0.1:8000">Go to home </a>
</div>
{% endblock %}

{% block footer %}{% endblock %}
