{% extends './base.html' %} 
{% block title %}Add Artworks - 1.2.3 Sold{% endblock %} 
{% load static %} 
{% block links %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
    }
    .filter-dropdown {
        position: absolute;
        top: 70px;
        right: 35px;
    }

    .filter-dropdown .dropdown-menu {
        right: 0;
        left: auto;
    }
</style>
{% endblock %} 
{% block content %}
{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <button onclick="goBack()" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="goForward()" class="btn btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="container-xl">
            <h1 class="app-page-title">Add Artwork</h1>
            {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
            {% else %}
                <div class="row g-4 mb-4">
                    <div class="col-12">
                        <div class="app-card shadow-sm h-100">
                            <div class="app-card-body p-2">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="fieldWrapper">
                                        {{ form.product_name.errors }}
                                        <label for="{{ form.product_name.id_for_label }}">{{ form.product_name.label }}:</label>
                                        {{ form.product_name }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_price.errors }}
                                        <label for="{{ form.product_price.id_for_label }}">{{ form.product_price.label }}:</label>
                                        {{ form.product_price }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.opening_bid.errors }}
                                        <label for="{{ form.opening_bid.id_for_label }}">{{ form.opening_bid.label }}:</label>
                                        {{ form.opening_bid }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_cat.errors }}
                                        <label for="{{ form.product_cat.id_for_label }}">{{ form.product_cat.label }}:</label>
                                        {{ form.product_cat }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_qty.errors }}
                                        <label for="id_product_qty">{{ form.product_qty.label }}:</label>
                                        <input type="number" name="product_qty" value="1" min="1" max="{{ product.product_qty }}" required id="id_product_qty" readonly>
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="dimension_unit" required=False>Dimensions:</label>
                                        <select id="dimension_unit" name="dimension_unit" onchange="toggleDimensionFields()">
                                            <option value="cm">Centimeters</option>
                                            <option value="ft">Feet</option>
                                        </select>
                                    </div>
                                    <div id="dimension_cm_fields">
                                        <div class="fieldWrapper">
                                            {{ form.length_in_centimeters.errors }}
                                            <label for="{{ form.length_in_centimeters.id_for_label }}">{{ form.length_in_centimeters.label }} (cm):</label>
                                            {{ form.length_in_centimeters }}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.width_in_centimeters.errors }}
                                            <label for="{{ form.width_in_centimeters.id_for_label }}">{{ form.width_in_centimeters.label }} (cm):</label>
                                            {{ form.width_in_centimeters }}
                                        </div>
                                    </div>
                                    <div id="dimension_ft_fields" style="display:none;">
                                        <div class="fieldWrapper">
                                            {{ form.foot.errors }}
                                            <label for="{{ form.foot.id_for_label }}">{{ form.foot.label }} (ft):</label>
                                            {{ form.foot }}
                                        </div>
                                        <div class="fieldWrapper">
                                            {{ form.inches.errors }}
                                            <label for="{{ form.inches.id_for_label }}">{{ form.inches.label }} (inch):</label>
                                            {{ form.inches }}
                                        </div>
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.end_date.errors }}
                                        <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}:</label>
                                        {{ form.end_date }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_image.errors }}
                                        <label for="{{ form.product_image.id_for_label }}">{{ form.product_image.label }}:</label>
                                        {{ form.product_image }}
                                    </div>
                                    
                                    <div class="d-grid mx-auto">
                                        <input class="btn btn-success" type="submit" value="Upload" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include './includes/footer.html' %}
</div>
{% endblock %}
{% block js %}
<script>
(function(){scroller();}());

function toggleDimensionFields() {
    var dimensionUnit = document.getElementById('dimension_unit').value;
    var cmFields = document.getElementById('dimension_cm_fields');
    var ftFields = document.getElementById('dimension_ft_fields');

    if (dimensionUnit === 'cm') {
        cmFields.style.display = 'block';
        ftFields.style.display = 'none';
    } else {
        cmFields.style.display = 'none';
        ftFields.style.display = 'block';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    toggleDimensionFields(); // Initialize the display based on the default selection
});
</script>
{% endblock %}
