{% extends './base.html' %} {% block title %}Add Artworks - 1.2.3 Sold{% endblock %} {% load static %} {% block links %}
{% endblock %} {% block content %}

{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}


<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <button onclick="goBack()" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="goForward()" class="btn btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="container-xl">
            <h1 class="app-page-title">Add Artwork</h1>
            {% if error_message %}
                <div class="alert alert-danger">{{ error_message }}</div>
            {% else %}
                <div class="row g-4 mb-4">
                    <div class="col-12">
                        <div class="app-card shadow-sm h-100">
                            <div class="app-card-body p-2">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="fieldWrapper">
                                        {{ form.product_name.errors }}
                                        <label for="{{ form.product_name.id_for_label }}">{{ form.product_name.label }}:</label>
                                        {{ form.product_name }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_price.errors }}
                                        <label for="{{ form.product_price.id_for_label }}">{{ form.product_price.label }}:</label>
                                        {{ form.product_price }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.opening_bid.errors }}
                                        <label for="{{ form.opening_bid.id_for_label }}">{{ form.opening_bid.label }}:</label>
                                        {{ form.opening_bid }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_cat.errors }}
                                        <label for="{{ form.product_cat.id_for_label }}">{{ form.product_cat.label }}:</label>
                                        {{ form.product_cat }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_qty.errors }}
                                        <label for="id_product_qty">{{ form.product_qty.label }}:</label>
                                        <input type="number" name="product_qty" value="1" min="1" max="{{ product.product_qty }}" required id="id_product_qty" readonly>
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.end_date.errors }}
                                        <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}:</label>
                                        {{ form.end_date }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.product_image.errors }}
                                        <label for="{{ form.product_image.id_for_label }}">{{ form.product_image.label }}:</label>
                                        {{ form.product_image }}
                                    </div>
                                    <div class="d-grid mx-auto">
                                        <input class="btn btn-success" type="submit" value="Upload" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include './includes/footer.html' %}
</div>
{% endblock %}
{% block js %}
{% endblock %}
{% block jscript %}
(function(){scroller();}());
{% endblock %}
