{% extends './base.html' %}
{% block title %}Artworks List - ARTIV{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'dashboard/css/artwork_list.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
    }
    .filter-dropdown {
        position: absolute;
        top: 70px;
        left: 17.5rem;
    }

    .filter-dropdown .dropdown-menu {
        right: 0;
        left: auto;
    }
    .button-container {
        position: absolute;
        top: 80px; /* Adjust the value to move vertically */
        right: 10px; /* Adjust the value to move horizontally */
    }
    .artwork-card {
        width: 24.66666667%;
    }
</style>
{% endblock %}
{% block content %}
{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="button-container">
            <i class="fa-solid fa-arrow-left" style="cursor:pointer; font-size:1.4rem; margin-right:10px" onclick="goBack()"></i>
            <i class="fa-solid fa-arrow-right" style="cursor:pointer; font-size:1.4rem; margin-right:15px" onclick="goForward()"></i>
        </div>
        <div class="container-xl">
            <h1 class="app-page-title">Artwork List</h1>
            <div class="filter-dropdown">
                <div class="dropdown-toggle" style="cursor:pointer;" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-filter"></i> Filter
                </div>
                <div class="dropdown-menu" aria-labelledby="filterDropdown">
                    <a class="dropdown-item {% if active_filter == 'all' %}active{% endif %}" href="?filter=all">All Artworks</a>
                    <a class="dropdown-item {% if active_filter == 'new' %}active{% endif %}" href="?filter=new">New Artworks</a>
                    <a class="dropdown-item {% if active_filter == 'old' %}active{% endif %}" href="?filter=old">Old Artworks</a>
                    <a class="dropdown-item {% if active_filter == 'sold' %}active{% endif %}" href="?filter=sold">Sold Artworks</a>
                </div>
            </div>
            <div class="row g-4 mb-4">
                {% for product in object_list %}
                <div class="artwork-card col-6 col-md-4 col-xxl-2">
                    <div class="app-card app-card-doc shadow-sm h-100">
                        <div class="app-card-thumb-holder p-3">
                            <div class="app-card-thumb">
                                <img class="thumb-image" src="{{ MEDIA_URL }}{{ product.product_image }}" alt="">
                            </div>
                        </div>
                        <div class="app-card-body p-3 has-card-actions">
                            <h4 class="app-doc-title truncate mb-0">
                                <a href="#" data-toggle="modal" data-target="#productModal{{ product.id }}">{{ product.product_name }}</a>
                            </h4><br>
                            <div class="app-doc-meta">
                                <ul class="list-unstyled mb-0">
                                    <li><span class="text-muted">Catalogue:</span> {{ product.product_cat }}</li>
                                    <li><span class="text-muted">ID:</span> {{ product.product_id }}</li>
                                    <li><span class="text-muted">End on:</span> {{ product.end_date }}</li>
                                </ul>
                            </div>
                            <div class="app-card-actions">
                                <div class="dropdown">
                                    <div class="dropdown-toggle no-toggle-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard:product_update' pk=product.pk %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                </svg>Edit
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'dashboard:product_delete' pk=product.pk %}">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.product_name }}</h5>
                                {% if product.ordermodel_set.exists %} <!-- Check if there are any orders for the product -->
                                    <img src="{% static 'images/assets/sold.png' %}" class="small-image" alt="Sold Image">
                                {% endif %}
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <style>
                                    .modal-table th,
                                    .modal-table td {
                                        border-right: 1px solid #dee2e6; /* Apply vertical border between th and td */
                                    }
                                    .modal-table th:last-child,
                                    .modal-table td:last-child {
                                        border-right: none; /* Remove border for the last column */
                                    }
                                    .small-image {
                                        max-width: 80px; /* Define the maximum width for the image */
                                        height: auto; /* Maintain aspect ratio */
                                    }
                                </style>
                                <table class="table modal-table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Product Image</th>
                                            <td><img src="{{ product.product_image.url }}" class="img-fluid" alt="{{ product.product_name }}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Dimensions</th>
                                            <td>
                                                {% if product.length_in_centimeters and product.width_in_centimeters %}
                                                    {{ product.length_in_centimeters }} x {{ product.width_in_centimeters }} cm
                                                {% elif product.foot and product.inches %}
                                                    {{ product.foot }} x {{ product.inches }} ft
                                                {% else %}
                                                    Not specified
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Catalogue</th>
                                            <td>{{ product.product_cat }}</td>
                                        </tr>
                                        {% comment %} <tr>
                                            <th scope="row">Order By</th>
                                            <td>{{ product.user }}</td>
                                        </tr> {% endcomment %}
                                        <tr>
                                            <th scope="row">Opening Bid</th>
                                            <td>₹ {{ product.opening_bid }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Last Bid</th>
                                            {% if product.get_total_bids > 0 %}
                                            <td id="last-bid-{{ product.id }}">₹ {{ product.get_last_bid }}</td>
                                            {% else %}
                                                <td>No bids yet</td>
                                            {% endif %}
                                        </tr>
                                        
                                        <tr>
                                            <th scope="row">Total Bids</th>
                                            <td id="total-bids-{{ product.id }}">{{ product.get_total_bids }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3> No artwork to show, please add artwork </h3>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include './includes/footer.html' %}
</div>
<button onclick="topFunction()" id="back-to-top-btn" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const productId = {{ product.id }};
        const socket = new WebSocket(`ws://${window.location.host}/ws/bid/${productId}/`);

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById(`last-bid-${productId}`).innerText = `₹ ${data.bid}`;
            document.getElementById(`total-bids-${productId}`).innerText = parseInt(document.getElementById(`total-bids-${productId}`).innerText) + 1;
        };

        document.getElementById('bid-button').addEventListener('click', () => {
            const bid = document.getElementById('bid-input').value;
            socket.send(JSON.stringify({'bid': bid}));
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block js %}
{% endblock %}
{% block jscript %}
(function(){scroller();}());
{% endblock %}
