{% comment %} {% load static %}
<link rel="stylesheet" href="{% static 'home/css/artwork_detail.css' %}" type="text/css">

<div class="container p-4">
    <div class="card">
        <div class="card-body poppins-regular-pro_details">
            <div class="row">
                <div class="col-8">
                    <img src="{{ MEDIA_URL }}{{ object.product_image }}" alt="img" width="100%" />
                </div>
                <div class="col-4">
                    <h5>{{ object.product_name }}</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Dimensions</th>
                                <td>
                                    {% if object.length_in_centimeters and object.width_in_centimeters %}
                                        {{ object.length_in_centimeters }} x {{ object.width_in_centimeters }} cm
                                    {% elif object.foot and object.inches %}
                                        {{ object.foot|floatformat }}' {{ object.inches|floatformat }}" 
                                    {% else %}
                                        Not specified
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Catalogue</th>
                                <td>{{ object.product_cat }}</td>
                            </tr>
                            <tr>
                                <th>Opening Bid</th>
                                <td>₹ {{ object.product_price }}</td>
                            </tr>
                            <tr>
                                <th>Last Bid</th>
                                <td>₹ {{ last_bid.bid_amt }}</td>
                            </tr>
                            <tr>
                                <th>Total Bids</th>
                                <td>{{ total_bid }}</td>
                            </tr>
                            <tr>
                                <th>Ends on</th>
                                <td>{{ object.end_date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
