{% extends './base.html' %} 
{% block title %}Bids - 1.2.3 Sold{% endblock %} 
{% load static %} 
{% block links %}
<link rel="stylesheet" href="{% static 'dashboard/css/ordermodel_list.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %} 
{% block content %}
{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}
{% load auth_extras %}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <button onclick="goBack()" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="goForward()" class="btn btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
        
        <div class="container-xl">
            <h1 class="app-page-title">Bids List</h1>
            <div class="row g-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Artworks</th>
                            <th scope="col">Date</th>
                            {% if user|has_group:"SellerGroup" %}
                            <th scope="col">Order By</th>
                            {% endif %}
                            <th scope="col">Bid Amount ₹</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bid in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="#" class="artworks-order" data-toggle="modal" data-target="#productModal{{ bid.product.id }}">{{ bid.product }}</a>
                                <!-- Modal -->
                                <div class="modal fade" id="productModal{{ bid.product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ bid.product.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="productModalLabel{{ bid.product.id }}">{{ bid.product }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <style>
                                                    .modal-table th,
                                                    .modal-table td {
                                                        border-right: 1px solid #dee2e6; /* Apply vertical border between th and td */
                                                    }
                                                    .modal-table th:last-child,
                                                    .modal-table td:last-child {
                                                        border-right: none; /* Remove border for the last column */
                                                    }
                                                    .small-image {
                                                        max-width: 80px; /* Define the maximum width for the image */
                                                        height: auto; /* Maintain aspect ratio */
                                                    }
                                                </style>
                                                <table class="table modal-table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Product Image</th>
                                                            <td><img src="{{ bid.product.product_image.url }}" class="img-fluid" alt="{{ bid.product.product_name }}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Dimensions</th>
                                                            <td>{{ bid.product.length_in_centimeters }} x {{ bid.product.width_in_centimeters }} cm</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Catalogue</th>
                                                            <td>{{ bid.product.product_cat }}</td>
                                                        </tr>
                                                        {% if user|has_group:"SellerGroup" %}
                                                        <tr>
                                                            <th scope="row">Order By</th>
                                                            <td>{{ bid.user }}</td>
                                                        </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <th scope="row">Opening Bid</th>
                                                            <td>₹ {{ bid.product.opening_bid }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Last Bid</th>
                                                            <td>{{ bid.bid_amt }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Date</th>
                                                            <td>{{ bid.bid_date }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ bid.bid_date }}</td>
                            {% if user|has_group:"SellerGroup" %}
                            <td>{{ bid.user }}</td>
                            {% endif %}
                            <td>{{ bid.bid_amt }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">
                                <h3>No artworks to show</h3>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block jscript %}
(function(){scroller();}());
{% endblock %}
