{% extends './base.html' %}
{% block title %}Orders - 1.2.3 Sold{% endblock %}
{% load static %}
{% block links %}{% endblock %}
{% block content %}
{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}
{% load auth_extras %}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <button onclick="goBack()" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="goForward()" class="btn btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="container-xl">
            <h1 class="app-page-title">Order List</h1>

            <div class="row g-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Artwork</th>
                            <th scope="col">Date</th>
                            {% if user|has_group:"SellerGroup" %}
                            <th scope="col">Order By</th>
                            {% endif %}
                            <th scope="col">Delivery Address</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a>{{ order.product }}</a></td>
                            <td>{{ order.order_date }}</td>
                            {% if user|has_group:"SellerGroup" %}
                            <td>{{ order.user }}</td>
                            {% endif %}
                            <td>{{ order.delivery_at }}</td>
                            <td>{{ order.order_price }}</td>
                        </tr>
                        {% empty %}
                        {% comment %} <tr>
                            <td colspan="5" class="text-center">
                                <h3 class="open-sans-empty">No artworks to show</h3>
                            </td>
                        </tr> {% endcomment %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->
</div>
{% comment %} {% include './includes/footer.html' %} {% endcomment %}

{% endblock %}
{% block js %}{% endblock %}
{% block jscript %}
(function() {
    scroller();
}());
{% endblock %}
