{% extends './base.html' %}
{% block title %}Orders - ARTIV{% endblock %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'dashboard/css/ordermodel_list.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
    }
    .filter-dropdown {
        position: absolute;
        top: 85px;
        right: 1.5rem;
    }

    .filter-dropdown .dropdown-menu {
        right: 0;
        left: auto;
    }
    .button-container {
        position: absolute;
        top: 85px; /* Adjust the value to move vertically */
        left: 17.5rem; /* Adjust the value to move horizontally */
    }
</style>
{% endblock %}
{% block content %}
{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}
{% load auth_extras %}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="button-container">
            <i class="fa-solid fa-arrow-left" style="cursor:pointer; font-size:1.4rem; margin-right:10px" onclick="goBack()"></i>
            <i class="fa-solid fa-arrow-right" style="cursor:pointer; font-size:1.4rem; margin-right:15px" onclick="goForward()"></i>
        </div>
        <div class="container-xl">
            <h1 class="app-page-title">Order List</h1>

            <div class="filter-dropdown">
                <div class="dropdown-toggle" style="cursor:pointer;" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-filter"></i> Filter
                </div>
                <div class="dropdown-menu" aria-labelledby="filterDropdown">
                    <a class="dropdown-item" href="?filter=asc">Ascending +</a>
                    <a class="dropdown-item" href="?filter=desc">Descending -</a>
                </div>
            </div>

            <div class="row g-4 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Artworks</th>
                            <style></style>
                            <th scope="col">Date</th>
                            {% if user|has_group:"SellerGroup" %}
                            <th scope="col">Order By</th>
                            {% endif %}
                            <th scope="col">Delivery Address</th>
                            <th scope="col">Last Bid</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="#" class="artworks-order" data-toggle="modal" data-target="#productModal{{ order.product.id }}">{{ order.product }}</a>
                                <!-- Modal -->
                                <div class="modal fade" id="productModal{{ order.product.id }}" tabindex="-1" role="dialog" aria-labelledby="productModalLabel{{ order.product.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="productModalLabel{{ order.product.id }}">{{ order.product }}</h5>
                                                {% if user|has_group:"SellerGroup" %}
                                                    <img src="{% static 'images/assets/sold.png' %}" class="small-image" alt="Sold Image">
                                                {% else %}
                                                    <img src="{% static 'images/assets/purchased.jpg' %}" class="small-image" alt="Purchased Image">
                                                {% endif %}
                                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <style>
                                                    .modal-table th,
                                                    .modal-table td {
                                                        border-right: 1px solid #dee2e6; /* Apply vertical border between th and td */
                                                    }
                                            
                                                    .modal-table th:last-child,
                                                    .modal-table td:last-child {
                                                        border-right: none; /* Remove border for the last column */
                                                    }
                                                    .small-image {
                                                        max-width: 80px; /* Define the maximum width for the image */
                                                        height: auto; /* Maintain aspect ratio */
                                                    }
                                                </style>
                                                <table class="table modal-table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Product Image</th>
                                                            <td><img src="{{ order.product.product_image.url }}" class="img-fluid" alt="{{ order.product.product_name }}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Dimensions</th>
                                                            <td>{{ order.product.length_in_centimeters }} x {{ order.product.width_in_centimeters }} cm</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Catalogue</th>
                                                            <td>{{ order.product.product_cat }}</td>
                                                        </tr>
                                                        {% if user|has_group:"SellerGroup" %}
                                                        <tr>
                                                            <th scope="row">Order By</th>
                                                            <td>{{ order.user }}</td>
                                                        </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <th scope="row">Opening Bid</th>
                                                            <td>₹ {{ order.product.opening_bid }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Last Bid</th>
                                                            <td>{{ order.order_price }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Date</th>
                                                            <td>{{ order.order_date }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Delivery Address</th>
                                                            <td>{{ order.delivery_at }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ order.order_date }}</td>
                            {% if user|has_group:"SellerGroup" %}
                            <td>{{ order.user }}</td>
                            {% endif %}
                            <td>{{ order.delivery_at }}</td>
                            <td>{{ order.order_price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">
                                <h3 class="open-sans-empty">No artworks to show</h3>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
