{% extends './base.html' %} {% block title %}1.2.3 Sold Dashboard{% endblock %} {% load static %} {% block links %}
{% endblock %} {% block content %}

{% include './includes/header.html' %}
{% include "art/arrow_button.html" %}


<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <button onclick="goBack()" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></button>
        <button onclick="goForward()" class="btn btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="container-xl">

            <h1 class="app-page-title">Add product</h1>


            <div class="row g-4 mb-4">
                <div class="col-12">
                    <div class="app-card shadow-sm h-100">
                        <div class="app-card-body p-2">
                            <form method="post">{% csrf_token %}
                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                {{ form }}
                                <input type="submit" value="Confirm">
                            </form>
                        </div>

                    </div>
                    <!--//app-card-->
                </div>

            </div>


        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->


    {% include './includes/footer.html' %}
</div>

{% endblock %} {% block js %}
{% endblock %}
{% block jscript %}
(function(){scroller();}());
{% endblock %}