{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/navbar.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <style>
    body {
      background-image: url('{% static 'images/background/light_final.png' %}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    body.dark-mode {
      background-image: url('{% static 'images/background/dark_final.jpg' %}');
      /* Additional styles for dark mode */
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* Optional: Adjust for styling */
    }
    /* Styling for notification icon */
    .notification-icon {
      position: relative;
    }
    .notification-icon .badge {
      position: absolute;
      top: -5px;
      right: -10px;
      padding: 5px 8px;
      border-radius: 50%;
      background-color: red;
      color: white;
      font-size: 12px;
      display: none; /* Initially hide the badge */
    }
  </style>
</head>
<body>
  <!-- Assuming this is the product page and it contains the product ID -->
  <div id="product-info" data-product-id="{{ product.id }}"></div>

  <nav class="navbar navbar-expand-lg border-body open-sans-navbar" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" data-toggle="modal" data-target="#logoModal">
        <img src="{% static 'logo.jpeg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        1,2,3...SOLD!!!
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'art:index' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Catalogues (cat)
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for cat in catalogue_list %}
              <li><a class="dropdown-item open-sans-catalog" href="{% url 'art:catalog_products' id=cat.id %}">{{ cat }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'art:unsold_items' %}">Unsold items</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'art:register_seller' %}">Become a seller</a>
          </li>
          {% endif %}
        </ul>
        <div class="d-flex align-items-center">
          {% if user.is_authenticated %}
          <div class="nav-item dropdown notification-icon">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNotification" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <span id="notification-count" class="badge">0</span> <!-- Initial value, will be updated dynamically -->
            </a>
            <div id="notification-dropdown" class="dropdown-menu dropdown-menu-end p-0 mt-3" style="width: 300px; max-height: 400px; overflow-y: auto;">
                <div id="notification-container" class="list-group">
                    <!-- Notifications will be dynamically added here -->
                </div>
            </div>
        </div>        
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Welcome, {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              {% if not user.is_seller %}
              <li><a class="dropdown-item" href="{% url 'art:profile_settings' %}">Profile Settings</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'art:logout' %}">Logout</a></li>
            </ul>
          </div>
          {% else %}
          <a href="{% url 'art:login' %}" type="button" class="btn btn-success me-2">Login</a>
          <a href="{% url 'art:register_user' %}" type="button" class="btn btn-primary">Register</a>
          {% endif %}
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item-mode dropdown-mode">
              <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle dropdown-toggle-mode d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
                <i class="fas fa-adjust"></i>
                <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-mode dropdown-menu-end" aria-labelledby="bd-theme-text">
                <li>
                  <a type="button" class="dropdown-item" data-theme="light">Light</a>
                </li>
                <li>
                  <a type="button" class="dropdown-item" data-theme="dark">Dark</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="logoModal" tabindex="-1" aria-labelledby="logoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoModalLabel">1,2,3...SOLD!!!</h5>
          <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <img src="{% static 'logo.jpeg' %}" class="img-fluid" alt="logo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{% static 'js/theme.js' %}"></script>
  <script>
    function fetchNotifications() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '{% url 'dashboard:fetch_notifications' %}', true);
      xhr.onload = function () {
        if (xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
          var notificationContainer = document.getElementById('notification-container');
          var notificationCount = document.getElementById('notification-count');
          if (notificationContainer && notificationCount) {
            notificationContainer.innerHTML = '';
            data.notifications.forEach(function (notification) {
              var notificationItem = document.createElement('div');
              notificationItem.className = 'dropdown-item';
              notificationItem.innerHTML = notification.message;
              notificationItem.onclick = function() {
                markNotificationAsRead(notification.id);
                window.location.href = '/viewdetails/' + notification.product_id; // Adjust URL path as needed
              };
              notificationContainer.appendChild(notificationItem);
            });
            notificationCount.textContent = data.notifications.length;
            notificationCount.style.display = data.notifications.length > 0 ? 'inline-block' : 'none';
          } else {
            console.error('Notification container or count element not found');
          }
        } else {
          console.error('Error fetching notifications:', xhr.status, xhr.statusText);
          console.log(xhr.responseText);  // Log the response text for more details
        }
      };
      xhr.onerror = function () {
        console.error('Request failed');
      };
      xhr.send();
    }
  
    function markNotificationAsRead(notificationId) {
      var xhr = new XMLHttpRequest();
      var markAsReadUrl = '{% url "dashboard:mark_notification_as_read" notification_id=0 %}'.replace('0', notificationId);
      xhr.open('POST', markAsReadUrl, true);  // Open the request with POST method
      xhr.setRequestHeader('Content-Type', 'application/json');  // Set content type to JSON
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');  // Set CSRF token header
      xhr.onload = function () {
        if (xhr.status === 200) {
          console.log('Notification marked as read successfully');
          fetchNotifications();  // Refresh notifications after marking as read
        } else {
          console.error('Error marking notification as read:', xhr.status, xhr.statusText);
        }
      };
      xhr.onerror = function () {
        console.error('Request failed');
      };
      xhr.send();  // Send the request without body content (since we're using POST)
    }
  
    document.addEventListener('DOMContentLoaded', function () {
      fetchNotifications();
      setInterval(fetchNotifications, 20000);  // Refresh notifications every 20 seconds
    });
</script>

</body>
</html>
