{% load static %}
<head>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'dashboard/css/navbar.css' %}"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet"
/>
<style>
  body {
    background-image: url('{% static 'images/background/light_final.jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  body.dark-mode {
  background-image: url('{% static 'images/background/dark_final.jpg' %}');
  /* Additional styles for dark mode */
}
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* Optional: Adjust for styling */
  }
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark border-body open-sans-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" data-toggle="modal" data-target="#logoModal">
      <img src="{% static 'logo.jpeg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top" />
      1.2.3 Sold
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'art:index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Catalogues (cat)
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in catalogue_list %}
            <li><a class="dropdown-item open-sans-catalog" href="{% url 'art:catalog_products' id=cat.id %}">{{ cat }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'art:unsold_items' %}">Unsold items</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'art:register_seller' %}">Become a seller</a>
        </li>
        {% endif %}
      </ul>
      <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Welcome, {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            {% if not user.is_seller %}
            <li><a class="dropdown-item" href="{% url 'art:profile_settings' %}">Profile Settings</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'art:logout' %}">Logout</a></li>
          </ul>
        </div>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          {% comment %} <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>   {% endcomment %}

          <li class="nav-item-mode dropdown-mode">
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle dropdown-toggle-mode d-flex align-items-center"
                    id="bd-theme"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                    aria-label="Toggle theme">
              <i class="fas fa-adjust"></i>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-mode dropdown-menu-end" aria-labelledby="bd-theme-text">
              <li>
                <a type="button" class="dropdown-item" data-theme="light">Light</a>
              </li>
              <li>
                <a type="button" class="dropdown-item" data-theme="dark">Dark</a>
              </li>
            </ul>
          </li>
          
        </ul>
        {% else %}
        <a href="{% url 'art:login' %}" type="button" class="btn btn-success me-2">Login</a>
        <a href="{% url 'art:register_user' %}" type="button" class="btn btn-primary">Register</a>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item-mode dropdown-mode">
            <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle dropdown-toggle-mode d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-toggle="dropdown" data-display="static" aria-label="Toggle theme">
              <i class="fas fa-adjust"></i>
              <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-mode dropdown-menu-end" aria-labelledby="bd-theme-text">
              <li><a type="button" class="dropdown-item" data-theme="light">Light</a></li>
              <li><a type="button" class="dropdown-item" data-theme="dark">Dark</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="logoModal" tabindex="-1" aria-labelledby="logoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoModalLabel">1.2.3...SOLD</h5>
        <button type="button" class="btn-close" data-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <img src="{% static 'logo.jpeg' %}" class="img-fluid" alt="logo">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
      const themeButton = document.getElementById('bd-theme');
      const themeText = document.getElementById('bd-theme-text');
      const themeItems = document.querySelectorAll('.dropdown-item');

      const setTheme = (theme) => {
          document.body.classList.remove('light-mode', 'dark-mode', 'auto-mode');

          if (theme === 'light') {
              document.body.classList.add('light-mode');
              themeText.innerText = 'Light Mode';
          } else if (theme === 'dark') {
              document.body.classList.add('dark-mode');
              themeText.innerText = 'Dark Mode';
          } else {
              const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
              if (prefersDarkScheme) {
                  document.body.classList.add('dark-mode');
              } else {
                  document.body.classList.add('light-mode');
              }
              themeText.innerText = 'Auto Mode';
          }

          localStorage.setItem('theme', theme);
      };

      themeItems.forEach(item => {
          item.addEventListener('click', (e) => {
              const theme = e.target.getAttribute('data-theme');
              setTheme(theme);
          });
      });

      const savedTheme = localStorage.getItem('theme') || 'auto';
      setTheme(savedTheme);
  });
</script>
</body>